{{if .results}}
<div class="table-container">
    <table>
        <colgroup>
            <col class="col-rank">
            <col class="col-withdrawal">
            <col class="col-label">
            <col class="col-total-deposit">
            <col class="col-validators">
            <col class="col-active">
            <col class="col-slashed">
            <col class="col-voluntary">
            <col class="col-effective-balance">
        </colgroup>
        <thead>
            <tr>
                <th><abbr class="header-abbr" data-tooltip="Ranking position" aria-label="Ranking position">Rank</abbr></th>
                <th><abbr class="header-abbr" data-tooltip="Withdrawal address (derived from credentials)" aria-label="Withdrawal address">Wdr</abbr></th>
                <th><abbr class="header-abbr" data-tooltip="Optional label for the withdrawal address" aria-label="Label for the withdrawal address">Label</abbr></th>
                <th class="sortable" data-sort-by="total_deposit" data-order="{{if eq .sort_by "total_deposit"}}{{.order}}{{end}}">
                    <abbr class="header-abbr" data-tooltip="Total deposit amount (ACE)" aria-label="Total deposit amount (ACE)">Dep</abbr>
                </th>
                <th class="sortable" data-sort-by="validators_total" data-order="{{if eq .sort_by "validators_total"}}{{.order}}{{end}}">
                    <abbr class="header-abbr" data-tooltip="Number of validators" aria-label="Total Number of validators">Tot</abbr>
                </th>
                <th class="sortable" data-sort-by="active" data-order="{{if eq .sort_by "active"}}{{.order}}{{end}}">
                    <abbr class="header-abbr" data-tooltip="Active validators" aria-label="Active validators">Act</abbr>
                </th>
                <th class="sortable" data-sort-by="slashed" data-order="{{if eq .sort_by "slashed"}}{{.order}}{{end}}">
                    <abbr class="header-abbr" data-tooltip="Number of slashed validators" aria-label="Number of slashed validators">Sla</abbr>
                </th>
                <th class="sortable" data-sort-by="voluntary_exited" data-order="{{if eq .sort_by "voluntary_exited"}}{{.order}}{{end}}">
                    <abbr class="header-abbr" data-tooltip="Number of voluntarily exited validators" aria-label="Number of voluntarily exited validators">Ex</abbr>
                </th>
                <th class="sortable" data-sort-by="total_active_effective_balance" data-order="{{if eq .sort_by "total_active_effective_balance"}}{{.order}}{{end}}">
                    <abbr class="header-abbr" data-tooltip="Total effective balance (ACE)" aria-label="Total effective balance (ACE)">Tot</abbr>
                </th>
            </tr>
        </thead>
        <tbody>
            {{range $index, $item := .results}}
            <tr>
                <td>
                    {{if eq $index 0}}
                        <span class="rank top-1">{{add $index 1}}</span>
                    {{else if eq $index 1}}
                        <span class="rank top-2">{{add $index 1}}</span>
                    {{else if eq $index 2}}
                        <span class="rank top-3">{{add $index 1}}</span>
                    {{else}}
                        <span class="rank">{{add $index 1}}</span>
                    {{end}}
                </td>
                <td>
                    <div class="address-with-copy address-copy-target" data-address="{{$item.withdrawal_address}}" title="{{$item.withdrawal_address}}">
                        <span class="address" title="{{$item.withdrawal_address}}">
                            {{formatAddress $item.withdrawal_address}}
                        </span>
                    </div>
                </td>
                <td>{{if $item.label}}{{$item.label}}{{else}}-{{end}}</td>
                <td>{{formatGweiToAce $item.total_deposit}}</td>
                <td>{{$item.validators_total}}</td>
                <td><span class="badge badge-success">{{$item.active}}</span></td>
                <td>{{if gt $item.slashed 0}}<span class="badge badge-danger">{{$item.slashed}}</span>{{else}}0{{end}}</td>
                <td>{{if gt $item.voluntary_exited 0}}<span class="badge badge-warning">{{$item.voluntary_exited}}</span>{{else}}0{{end}}</td>
                <td>{{formatGweiToAce $item.total_active_effective_balance}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{else}}
<div class="empty">No data available</div>
{{end}}
